{% extends "layouts/app.twig" %}

{% block title "HomePage"|trans %}

{% block content %}
    <h2>Bienvenue sur la page d'accueil du site démo de subs·GURU</h2>
    {% trans %}Accountent{% endtrans %}
{% endblock %}