{% extends "layouts/app.twig" %}

{% block title "Abonnement"|trans %}

{% block content %}
    <h2>Bienvenue sur ma page d'abonnement</h2>
    {% trans %}Welcome on my subscription page{% endtrans %}
{% endblock %}