<html>
    <head>
        <title>{% block title %}Aucun titre{% endblock %}</title>
        <link href="/assets/...">
    </head>
    <body>
        <div class="content">
            {% block content "" %}
        </div>
    </body>
</html>